/* Your custom styles goes here */
h1 a, h2, h3 {
  color: #474747 !important;
  font-weight: bold !important;
}

header {
  color: #474747 !important;
}

body {
  color: #474747 !important;
  border-top: unset !important;
  background-color: #999 !important;
}

footer {
  border-top: 1px solid #888 !important;
  color: #474747 !important;
}

nav.breadcrumbs .mask {
  background-color: #474747 !important;
}

nav.breadcrumbs {
  background: unset !important;
}

nav.breadcrumbs .mask {
  background-color: #474747 !important;
}

header, footer, time {
  display: none !important; 
}

nav.breadcrumbs a {
  background-color: #474747 !important;
}
